<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test CRUD</title>

    <link rel="stylesheet" href="/semantic.min.css">
    <link rel="stylesheet" href="/public/stylessCrud.css">
</head>
<body>
    <div class="wrapper">
        <div class="ui menu">
            <div class="ui container">
                <div class="header item">
                    Home
                  </div>
                  <a class="item">
                    Blog
                  </a>
                  <a class="item">
                    Contact
                  </a>
                  <a class="item">
                    About
                  </a>
                </div>
            </div>
            
    </div>


    <br>
    <br>
    <br>
    <div class="ui container">
        <form id="form" action="/test/edit/<%- book._id %>" class="ui form" method="post">
            
            <div class="ui three fields">
                <div class="field">
                    <label for="title" class="ui header blue">Enter book title</label>
                    <input type="text" name="title" placeholder="Enter book title" value="<%- book.title%>" id="title">
                </div>
                <div class="field">
                    <label for="author" class="ui header blue">Enter book author</label>
                    <input type="text" name="author" placeholder="Enter book author" value="<%- book.author%>" id="author">
                </div>
                <div class="field">
                    <label for="review" class="ui header blue">Enter book review</label>
                    <input type="text" name="review" placeholder="Enter book review" value="<%- book.review%>" id="review">
                </div>
            </div>
            <div class="ui fluid field">
                <button type="submit" class="ui button fluid blue">Save</button>   
            </div>
        </form>


        <br>
        <br>

    </div>

    <script src="/semantic.min.js"></script>
</body>
</html>


